/* Partial: site-branding.css.scss  */


$heading-font: 'Verdana', 'Arial', 'Halvetica', sans-serif;
$accent-font: 'Georgia', 'Times New Roman', serif;
$body-font: 'Times New Roman', 'Times', serif;

$white: #FFFFFF;
$khaki: #C0C0C0;
$mid-green: #008000;
$dark-green: #50b450;
$near-black: #333; 