<article>
  <section id="main">
    <p>
      The combination of Red, Green and Blue values from 0 to 255 gives a total of more than 16 million different colors to play with (256 x 256 x 256). Most modern monitors are capable of displaying at least 16384 different colors. If you look at the color table below, you will see the result of varying the red light from 0 to 255, while keeping the green and blue light at zero. To see a full list of color mixes when the red light varies from 0 to 255, click on one of the hex or rgb values below.
    </p>
    
    <p>
      For absolutely positioned elements, the top property sets the top edge of an element to a unit above/below the top edge of its containing element. For relatively positioned elements, the top property sets the top edge of an element to a unit above/below its normal position.
Note: If "position:static", the top property has no effect. 
    </p>
    </section>
  <section id="sidebar">
    <p>
      Join over 40 million people that have chosen Wix and create your own site today.
  Wix.com lets everyone easily design HTML5 websites using an intuitive drag n' drop builder. Pick any of our beautiful mobile-optimized templates. Customize anything and get online instantly! Wix gives you everything you need in one place - reliable hosting, full support, SEO tools and more.
    </p>
  
  </section>
    
    